a {
    text-decoration: none;
    transition: var(--hover-transition);
    color: inherit;
}

a:link,
a:visited {
    transition: color .15s ease-in;
}

a:hover {
    transition: color .15s ease-in;
    text-decoration: underline white;
}

a:active {
    transition: color .15s ease-in;
}

a:focus {
    transition: color .15s ease-in;
    outline: 1px dotted currentColor;
}