:root {
	/* Colors */
	--primary: #a1252b; /* Logo red */
	--secondary: #1c5ed9; /* Royal blue */
	--highlight: #ff4751;
	--white: #ffffff;
	--off-white: #fffdfc;
	--grey-1: #f5f3f2;
	--grey-2: #ebe7e6;
	--grey-3: #595756;
	--grey-4: #424040;
	--dark-green: #003e1f;
	--dark-blue: #092048;
	--mint: #AAFAC8;
	--peach: #FFBFA0;
	--teal: #037171;
	--sky-blue: #84BCDA;
	--lavendar: #a87df2;
	--brown: #6B2B06;
	--smoky-black: #1c110a;
	--black: #000000;

	/* Typography */
	/* --font-family: Nunito Sans, -apple-system, BlinkMacSystemFont, 'avenir next', avenir, helvetica, 'helvetica neue', ubuntu, roboto, noto, 'segoe ui', arial, sans-serif; */
	--font-family: Open Sans, -apple-system, BlinkMacSystemFont, system-ui, ubuntu, noto, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	--line-height: 1.5;

	--font-size: 18px;
	--font-size-m: 20px;
	--font-size-l: 22px;

	--body-font-weight: 400;
	--bold-font-weight: 700;

	/* Sizing */
	--spacing-none: 0;
	--spacing-extra-small: .25rem;
	--spacing-small: .5rem;
	--spacing-medium: 1rem;
	--spacing-large: 2rem;
	--spacing-extra-large: 4rem;
	--spacing-extra-extra-large: 8rem;
	--spacing-extra-extra-extra-large: 16rem;

	/* Miscelaneous */
	--border-radius: .25rem;
	--hover-transition: all 150ms ease;
}
