:root {
    --paper-margin: 60px;
    --user-img-speed: 10s;
}

article {
    max-width: 100%;
    background: #fff;
    border-radius: 15px;
    padding-bottom: 50px;
}

article img {
    object-fit: contain;
}

ol {
    margin: 0 2rem;
}

div.highlight {
    padding: 3%;
    overflow: auto;
}

table {
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #c9c9c9;
}

th {
    background: #f9f9fa;
}

td {
    text-align: center;
    min-width: 80px;
}

td li {
    text-align: start;
}

.article-body-image-wrapper img {
    margin: 15px auto;
    display: block;
    max-width: 100%;
}

table {
    margin: 15px auto;
}

:not(pre)>code {
    background: rgb(194, 194, 194);
    border-radius: 2px;
    padding: 0 5px;
}

#article-body h2{
    padding: 1rem 0rem;
}

#article-body ol {
    padding: 1rem 2.75rem;
}

#article-body>* {
    margin-left: 3.5rem;
    margin-right: 3.5rem;
}

#cover {
    width: 100%;
}

#title {
    margin: 10px var(--paper-margin);
    font-size: 4rem;
    display: inline-block;
    padding: 1rem 0.5rem;
    background: var(--my-gradient);
    background-size: 100% 5px;
    background-position: bottom 0 left 0, bottom 5px left 0;
    background-repeat: no-repeat;
}

#author-img {
    border-radius: 25px;
    width: 8rem;
    grid-row: span 3;
}

address {
    margin: 2rem 3rem;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto auto;
    row-gap: 5px;
    column-gap: 15px;
    align-items: end;
}

#date {
    margin: 0;
    font-style: normal;
    font-size: 0.9em;
}

address>ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, auto);
    padding: 0;
    margin: 0;
    width: 75%;
}

#author-name {
    font-size: 1.4em;
    font-weight: bold;
}

address a {
    display: flex;
    align-items: center;
}

address a::before {
    content: "";
    display: inline-block;
    height: 25px;
    width: 25px;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    margin-right: 10px;
}

#twitter::before {
    background-image: url('../icons/twitter.svg');
}

#github::before {
    background-image: url('../icons/github-1.svg');
}

#devto::before {
    background-image: url('../icons/dev-black.png');
}

#homepage::before {
    background-image: url('../icons/globe.svg');
}

#tags {
    list-style: none;
    margin: 5px var(--paper-margin);
    padding: 0;
    display: grid;
    gap: 5px;
    grid-auto-flow: column;
    width: max-content;
}

#tags>li {
    background: #333333;
    color: white;
    border-radius: 5px;
    padding: 5px;
    min-width: 50px;
    text-align: center;
    padding: 10px;
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.ltag__link {
    border: 0.5px solid gray;
    border-radius: 25px;
    display: flex;
    padding: 1rem 0rem !important;
    margin: 1rem;
    filter: drop-shadow(0px 4px 6px rgba(51, 51, 51, 0.3))
}

.ltag__link .ltag__link__link .ltag__link__content h3 {
    color: black;
    font-size: 1rem;
}

.ltag__link .ltag__link__link .ltag__link__taglist {
    font-size: 0.8rem;
}

.ltag__link .ltag__link__link .ltag__link__taglist .ltag__link__tag {
    color: red;
    background-color: #c2c2c2;
    border-radius: 5px;
    padding: 5px;
    margin: 0.5rem;
}

.ltag__link .ltag__link__link {
    margin-left: 1rem;
}

.ltag__link .ltag__link__link .ltag__link__pic {
    width: 5rem;
}