@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);
div.business-card {
    height: 427px;
    width: 320px;
    margin-left: -160px;
    margin-top: -213.5px;
    position: absolute;
    top: 50%;
    left: 50%;
    perspective: 1000;
}

div.front,
div.back {
    position: absolute;
    top: 0;
    left: 0;
    height: 427px;
    width: 320px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.75);
}

div.front {
    background-color: white;
    z-index: 0;
}

div.front:before,
div.front:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-width: 160px;
    border-style: solid;
    border-color: transparent;
}

div.front:before {
    border-top-color: #288FBD;
    border-left-color: #288FBD;
    z-index: 2;
}

div.front:after {
    border-top-color: #005D8C;
    border-right-color: #005D8C;
}

div.front div.name {
    position: absolute;
    bottom: 8.5px;
    left: 85px;
}

div.front div.name span {
    display: block;
    font-size: 40px;
    line-height: 45px;
}

div.front div.name span.first {
    color: #005D8C;
}

div.front div.name span.last {
    color: #288FBD;
}

div.front div.name span.title {
    font-size: 20px;
    line-height: 20px;
}

div.back {
    background-color: #005D8C;
    color: white;
    width: 427px;
    height: 320px;
    box-sizing: border-box;
    transform: rotateY(180deg) rotateZ(90deg);
}

div.back div.container-sm {
    float: left;
    width: 40%;
    height: 100%;
    position: relative;
}

div.back div.container-lg {
    float: left;
    width: 60%;
    margin-top: 2rem;
}

div.back figure.logo-white {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    display: block;
    margin: -60px -60px;
}

div.back figure.logo-white:before,
div.back figure.logo-white:after {
    display: block;
    content: '';
    position: absolute;
    border-style: solid;
    border-color: transparent;
}

div.back figure.logo-white:before {
    top: 0;
    left: 0;
    border-width: 60px;
    border-top-color: white;
    border-left-color: white;
    z-index: 2;
}

div.back figure.logo-white:after {
    bottom: 0;
    right: 0;
    border-width: 56px;
    border-right-color: white;
}

div.back a {
    color: white;
    text-decoration: none;
    display: block;
}

div.back a:hover {
    text-decoration: underline;
}

div.back ul.social {
    font-size: 1.25rem;
}

div.back ul.social li {
    margin-top: 1rem;
}

div.back ul.social li:first-child {
    margin-top: 2rem;
}