@import url(https://fonts.googleapis.com/css?family=Lato);
.skills {
    list-style: none;
    font-size: 20px;
    padding: 0;
}

.skills .skill {
    display: block;
    position: relative;
    height: 60px;
    margin: 10px auto;
    width: 90%;
}

@media only screen and (min-width: 900px) {
    .skills .skill {
        display: inline-block;
        width: 25%;
        margin: 10px;
    }
}

.skills .skill:before,
.skills .skill:after {
    content: "";
    position: absolute;
    border-radius: 20px;
    margin-top: 40px;
}

.skills .skill:before {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 20px;
    background: #eeeeee;
}

.skills .skill:after {
    background-color: #2ea994;
    background: repeating-linear-gradient(-45deg, #2ea994, #2ea994 10px, #31b59f 10px, #31b59f 20px);
    height: 16px;
    top: 2px;
    right: 95%;
    bottom: 2px;
    left: 2px;
    animation: fill 2s both;
}

.skills .skill:nth-child(1):after {
    animation-delay: 0.5s;
}

.skills .skill:nth-child(2):after {
    animation-delay: 1s;
}

.skills .skill:nth-child(3):after {
    animation-delay: 1.5s;
}

.skills .skill:nth-child(4):after {
    animation-delay: 2s;
}

.skills .skill:nth-child(5):after {
    animation-delay: 2.5s;
}

.skills .skill[aria-label=novice]:after {
    right: 75%;
}

.skills .skill[aria-label=average]:after {
    right: 50%;
}

.skills .skill[aria-label=adept]:after {
    right: 35%;
}

.skills .skill[aria-label=advanced]:after {
    right: 20%;
}

.skills .skill[aria-label=elite]:after {
    right: 10%;
}

.skills .skill[aria-label=pro]:after {
    right: 2px;
}

.skills .skill[aria-label=l33tasuar]:after {
    right: -10%;
}

@-webkit-keyframes fill {
    from {
        right: 100%;
    }
}

@-moz-keyframes fill {
    from {
        right: 100%;
    }
}

@keyframes fill {
    from {
        right: 100%;
    }
}