* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

 :root {
    --main-color: #00cfe8;
    --second-color: #1b1b1b;
    --third-color: #d4d4d4;
    --bg-color: #ebebeb;
    --main-grid: repeat(auto-fill, minmax(300px, 1fr));
    --main-padding: 40px;
}

body {
    font-family: "Poppins", sans-serif;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.skills {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: var(--bg-color);
    text-align: center;
}

.skills .text {
    padding-bottom: 20px;
}

.skills h2 {
    font-size: 35px;
    color: var(--second-color);
    padding-bottom: 20px;
}

.skills h2 span {
    color: var(--main-color);
}

.skills p {
    font-size: 18px;
    color: var(--second-color);
    font-weight: 400;
}

.skills .skill-card {
    display: grid;
    grid-template-columns: var(--main-grid);
    grid-gap: 60px;
    margin-bottom: 70px;
    margin-top: 60px;
}

.skills .skill-card .card {
    padding: 25px;
    text-align: center;
    background-color: var(--second-color);
    border: 2px solid var(--main-color);
    color: var(--third-color);
    transition: 1s;
    position: relative;
}

.skills .card h4 {
    padding-top: 30px;
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: 500;
}

.skills .card p {
    line-height: 1.7;
    font-size: 16px;
    color: var(--third-color);
}

.skills .card i {
    font-size: 42px;
    padding: 15px;
    width: 75px;
    height: 75px;
    color: var(--second-color);
    background-color: var(--main-color);
    position: absolute;
    top: calc(-75px / 2);
    transform: rotate(45deg);
    left: 39%;
    transition: 1s;
    border: 1px solid var(--main-color);
}

.skills .card:hover {
    background-color: transparent;
}

.skills .card:hover i {
    transform: rotate(0deg);
    background-color: var(--bg-color);
}

.skills .card:hover h4,
.skills .card:hover p {
    color: var(--second-color);
    transition: 1s;
}

.skills a {
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    border-radius: 2px;
    color: var(--second-color);
    transition: background-color 0.8s;
    padding: 12px 20px;
    letter-spacing: 1.5px;
    z-index: 50px;
    text-decoration: none;
}

.skills a:hover {
    background-color: var(--second-color);
    color: var(--main-color);
}

.support {
    position: relative;
    padding-left: 20px;
    padding-bottom: 20px;
    display: flex;
    background-color: var(--bg-color);
}

.support i {
    color: var(--main-color);
    font-size: 20px;
    margin-left: 8px;
}

.hide1 {
    display: none;
    margin-left: 5px;
    margin-right: 10px;
    color: var(--main-color);
    font-size: 15px;
}

.support a:hover+.hide1 {
    display: block;
    transition: all 1s;
}