.experience {
    margin: 40px 0;
}

.experience section {
    margin: 20px 0;
}

h1 {
    margin-top: 0;
    margin-left: -5px;
    font-size: 5.295em;
    font-weight: 600;
    color: #a1242c;
}

.highlight {
    color: #a1242c !important;
    text-decoration: none !important;
    border-bottom: 1px solid #a1242c;
}

.logo {
    padding: 2rem 0rem 2rem 2rem;
    text-align: end;
}

.content {
    padding: 3rem;
    margin: 3rem;
}

@media (max-width: 767px) {
    .content {
        padding: 0rem 3rem;
        margin: 0rem 3rem;
    }
}

.list-inline {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}

.skills-list {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.skills-list li {
    margin-bottom: 5px;
    border: 1px solid #c7c7cc;
    border-radius: 2px;
    text-transform: uppercase;
}
.contact-list {
    letter-spacing: 3;
}

.nav-list li {
    margin-right: 10px;
}

@media screen and (max-width: 991px) {
    
    .side-nav {
        display:none;
    }
    
}