

#featured-articles,
#blog-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    margin-block-end: 0px;
    padding-inline-start: 0px;
    align-items: center;
    flex-direction: column;
}

#featured-articles li,
#blog-list li {
    margin: 0.5rem 2rem;
    min-width: 350px;
}

@media (max-width: 420px) {
    #featured-articles li,
    #blog-list li {
        min-width: 300px;
    }
}

#featured-articles .url,
#blog-list .url {
    color: var(--logo-red);
    text-decoration: inherit;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(0px 4px 6px rgba(51, 51, 51, 0.2));
}

#featured-articles .url:hover,
#blog-list .url:hover {
    color: var(--eerie-black);
    filter: drop-shadow(0px 4px 6px rgba(51, 51, 51, 0.4));
}

#featured-articles .cover,
#blog-list .cover {
    height: 150px;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

#featured-articles .info,
#blog-list .info {
    display: flex;
    flex-direction: column;
    min-height: 175px;
    height: max-content;
    background: #fff;
    border-radius: 0 0 15px 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

#featured-articles .info .title,
#blog-list .info .title {
    height: 100%;
    width: 100%;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    padding-bottom: 0;
    position: absolute;
}

#featured-articles .info .updated,
#blog-list .info .updated {
    color: var(--logo-red);
    padding: 0;
    margin: 0;
    position: relative;
    top: 1rem;
}

#featured-articles .info .reading-time,
#blog-list .info .reading-time {
    color: var(--logo-red);
    position: relative;
    bottom: -60px;
}

#view-all {
    text-align: right;
    position: absolute;
    right: 5rem;
}

@media (max-width: 420px) {
    #view-all {
        display: block;
        position: relative;
        height: fit-content;
        right: 0px;
        width: fit-content;
        margin: 0px;
        vertical-align: middle;
        text-align: center;
        left: 30%;
    }
}

#filterBtn {
    text-align: left;
    position: relative;
}

#myDropdown {
    position: absolute;
    bottom: 34px;
    left: 140px;
    background-color: transparent;
}

#myDropdown a {
    border: 1px solid gray;
    margin: 5px;
}

/* ----------------------------------- 
HIRE ME SECTION
------------------------------------ */

.content-wrapper {
    overflow: hidden;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    height: 100%;
}

@media (max-width: 820px) {
    .content-wrapper {
        justify-content: center;
        padding-bottom: 6rem;
    }
}

.content-wrapper .main-content {
    width: 75%;
    height: 68%;
    padding: 10px 7%;
    border-radius: 20px;
    /* box-shadow: 1px 1px 10px 5px #3b3939 inset; */
    z-index: 1;
}

.content-wrapper .main-content .info {
    display: flex;
    justify-content: center;
    z-index: 1;
}

.content-wrapper .main-content .info .strengths {
  width: 100%;
  height: 150px;
}

.content-wrapper .main-content .info .strengths .qualities {
    font-size: 14px;
    color: black;
    display: flex;
    justify-content: center;
}

.content-wrapper .main-content .info .strengths .qualities p {
    font-size: 1rem;
    position: relative;
    margin-left: 2rem;
    margin-bottom: 0rem;
    font-weight: bold;
}

.content-wrapper .main-content .info .strengths .qualities i {
  font-size: 1rem;
  position: absolute;
  left: -20px;
  bottom: 5px;
}

.content-wrapper .main-content .info .strengths .buttons-wrapper {
    margin-top: 10px;
    z-index: 1;
    text-align: center;
    justify-content: center;
    display: flex;
}

.content-wrapper .main-content .info .strengths .buttons-wrapper a {
    padding: 8px 25px;
    border-radius: 5px;
    cursor: pointer;
}

