#featured-articles,
#blog-list {
    padding: 2rem;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

#featured-articles li,
#blog-list li {
    margin: 0.5rem 1rem;
    min-width: 400px;
}

#featured-articles .url,
#blog-list .url {
    color: var(--logo-red);
    text-decoration: inherit;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(0px 4px 6px rgba(51, 51, 51, 0.2));
}

#featured-articles .url:hover,
#blog-list .url:hover {
    color: var(--eerie-black);
    filter: drop-shadow(0px 4px 6px rgba(51, 51, 51, 0.4));
}

#featured-articles .cover,
#blog-list .cover {
    height: 150px;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

#featured-articles .info,
#blog-list .info {
    display: flex;
    flex-direction: column;
    height: 150px;
    position: relative;
}

#featured-articles .info .title,
#blog-list .info .title {
    background: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0 0 15px 15px;
    margin: 0;
    padding-bottom: 0;
    position: absolute;
}

#featured-articles .info .updated,
#blog-list .info .updated {
    /* display: flex; */
    color: var(--logo-red);
    padding: 0;
    margin: 0;
    position: relative;
    top: 1rem;
    /* height: 100%; */
}