:root {
    --side-margin: 9vw;
}


#blog-list,
#project-list {
    list-style: none;
    margin: 25px var(--side-margin);
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 35px;
    height: fit-content;
}

#blog-list .url {
    color: var(--logo-red);
    text-decoration: inherit;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(0px 4px 6px rgba(51, 51, 51, 0.2));
}

#blog-list .url:hover {
    color: var(--eerie-black);
    filter: drop-shadow(0px 4px 6px rgba(51, 51, 51, 0.4));
}

#blog-list .cover {
    height: 100%;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

#blog-list .title {
    background: rgb(241, 243, 245);
    margin: 0;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0 0 15px 15px;
}

@media only screen and (max-width: 600px) {
    :root {
        --side-margin: 25px;
    }
}