@import url("https://fonts.googleapis.com/css?family=Raleway");
body {
    font-family: "Raleway", sans-serif;
    margin: 0;
}

.container {
    margin-top: 2em;
}

.title-skills {
    font-size: 2em;
    margin-top: 4em;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    letter-spacing: 10px;
    transition: all 400ms ease-in-out;
    margin: 4rem auto;
    text-align: center;
}

.bar {
    width: 80%;
    margin: 2em auto;
}

.skill {
    font-size: 0.8em;
    text-transform: uppercase;
    margin-bottom: 0.25em;
}

.speech-bubble {
    font-size: 0.75em;
    line-height: 2em;
    position: absolute;
    top: -2.7em;
    text-align: center;
    min-width: 3em;
    border-radius: 0.3em;
    display: none;
}

.html,
.photo,
.fluent {
    left: calc(75% - 1.5em);
}

.jquery {
    left: calc(25% - 1.5em);
}

.sketch,
.illustrator {
    left: calc(90% - 1.5em);
}

.indesign {
    left: calc(85% - 1.5em);
}

.speech-bubble:after {
    border: 0.5em solid transparent;
    content: "";
    margin-left: -0.5em;
    position: absolute;
    top: 100%;
    left: 50%;
}

.bar-outer {
    height: 1.25em;
    background: #eeeeee;
    position: relative;
    border-radius: 0.3em;
}

.bar-inner {
    width: 0;
    height: 1.25em;
    border-radius: 0.3em;
}

.ht,
.html {
    background: #fdeeed;
}

.html:after {
    border-top-color: #fdeeed;
}

.jq,
.jquery {
    background: #fde4e1;
}

.jquery:after {
    border-top-color: #fde4e1;
}

.sk,
.sketch {
    background: #fcd9d5;
}

.sketch:after {
    border-top-color: #fcd9d5;
}

.ph,
.photo {
    background: #fbc9c4;
}

.photo:after {
    border-top-color: #fbc9c4;
}

.il,
.illustrator {
    background: #f9b3ac;
}

.illustrator:after {
    border-top-color: #f9b3ac;
}

.in,
.indesign {
    background: #f89d94;
}

.indesign:after {
    border-top-color: #f89d94;
}

.fl,
.fluent {
    background: #f6877c;
}

.fluent:after {
    border-top-color: #f6877c;
}