#cards {
    text-align: center;
    margin: 20px;
}

.card {
    display: inline-block;
    width: 300px;
    padding: 1em;
    border-radius: 15px;
    margin: 10px;
    background: #ddd;
    text-align: left;
    box-shadow: 0px 5px 20px -10px #111111;
    position: relative;
    transition: 0.4s;
    text-align: center;
}

.card .card__caption {
    background-color: rgba(#ffffff, 0.65);
    padding: 1em;
    position: relative;
    border-radius: 0 0 3px 3px;
}

.card .card__image-container {
    background-color: rgba(#000000, 0.7);
    text-align: center;
    padding: 1em 1em 0;
    border-radius: 3px 3px 0 0;
}

.card .card__image-container img {
    max-height: 150px;
    margin: auto;
    display: inline-block;
}

.card .card__type {
    position: absolute;
    margin: 0;
    font-weight: 400;
    top: 0;
    right: 1em;
    transform: translateY(-50%);
    color: #ffffff;
    text-transform: uppercase;
    font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
    letter-spacing: 0.1em;
    padding: 0.25em;
    line-height: 1;
    border-radius: 2px;
    background: #bbbbbb;
}

.card .card__label {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 400;
    display: block;
    margin-bottom: 3px;
}

.card .card__name {
    font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
    text-align: center;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 0.02em;
    margin: 0;
    font-weight: 400;
}

.card .card__stats {
    margin: 1em 0;
    width: 100%;
}

.card .card__stats th {
    font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
    text-align: right;
    font-weight: 300;
}

.card .card__stats th,
.card .card__stats td {
    width: 50%;
    padding: 0.25em 0.5em 0;
}

.card .card__abilities {
    display: flex;
    justify-content: space-between;
}

.card .card__ability {
    margin-top: 1em;
    flex: 1 0;
    margin: 0;
    font-weight: 400;
}

.card .card--normal {
    background: linear-gradient(110deg, #FDBB2D 0%, #3A1C71 100%);
    box-shadow: 0px 5px 20px -10px #3A1C71;
}

.card .card--normal .card__type {
    background-color: #C08A53;
}

.card .card--water {
    background: linear-gradient(120deg, #1CB5E0 0%, #000851 100%);
    box-shadow: 0px 5px 20px -10px #000851;
}

.card .card--water .card__type {
    background-color: #1CB5E0;
}

.card .card--electric {
    background: linear-gradient(90deg, rgba(255, 222, 0, 1) 34%, rgba(232, 255, 153, 1) 83%);
}

.card .card--electric .card__type {
    background-color: #000;
}

.card .card--fire {
    background: linear-gradient(0deg, rgba(199, 24, 0, 1) 10%, rgba(252, 194, 69, 1) 100%);
}

.card .card--fire .card__type {
    background-color: rgba(199, 24, 0, 1);
}

.card .card--psychic {
    background: linear-gradient(140deg, rgba(255, 167, 249, 1) 0%, rgba(255, 44, 195, 1) 39%, rgba(255, 227, 167, 1) 100%);
}

.card .card--psychic .card__type {
    background: #ff2cc3;
}

.card .card--dark {
    background: linear-gradient(20deg, rgba(25, 25, 25, 1) 0%, rgba(16, 11, 50, 1) 33%, rgba(92, 2, 73, 1) 100%);
}

.card .card--dark .card__type {
    background: #5c0249;
}

.card .card--grass {
    background: linear-gradient(140deg, rgba(196, 218, 61, 1) 0%, rgba(110, 127, 14, 1) 69%, rgba(39, 80, 9, 1) 100%);
}

.card .card--grass .card__type {
    background: #6e7f0e;
}

.card .card--ice {
    background: linear-gradient(230deg, rgba(202, 234, 246, 1) 0%, rgba(160, 234, 241, 1) 46%, rgba(111, 184, 235, 1) 100%);
}

.card .card--ice .card__type {
    background: #6fb8eb;
}

.card .card--fairy {
    background: linear-gradient(45deg, rgba(255, 230, 240, 1) 0%, rgba(255, 197, 224, 1) 34%, rgba(255, 166, 185, 1) 71%, rgba(255, 138, 149, 1) 100%);
}

.card .card--fairy .card__type {
    background: #ff8a95;
}

.card:hover {
    z-index: 5;
    box-shadow: 0px 13px 30px -15px #000000;
    transform: translateY(-10px) rotate(10px);
}