:root {
      --logo-red: #a1242c;
      --eerie-black: #1b1c1e;
      --white: #ffffff;
      --off-white: #fffdfc;
      --font-family: "Rufina", serif;
}

.project {
      font-family: var(--font-family);
      display: flex;
      width: 85%;
      height: 20rem;
      position: relative;
      padding: 2rem;
}

.projects-section .project::before {
      content: "";
      position: absolute;
      display: block;
      width: 500px;
      height: 1px;
      background: var(--logo-red);
      bottom: 1px;
      left: calc(50% - 250px);
}

.projects-section .project:last-of-type::before {
      display: none;
}

.project img {
      height: 100%;
      padding: 1rem;
}

.project div {
      flex-direction: column;
      text-align: start;
      position: inherit;
}

.project-links {
      margin-top: 12%;
}

.projects-section .project:nth-of-type(2n + 1) div {
      text-align: end;
}

.projects-section .project:nth-of-type(2n + 1) img {
      order: 2;
}

.project h3 {
      width: 50%;
      padding: 0 2.25em;
}

.projects-section .project:nth-of-type(2n + 1) div h3 {
      width: 100%;
      text-align: end;
      padding: 0 2.25em;
}
