#project-list .cards {
    color: var(--eerie-black);
    display: flex;
    flex-direction: column;
    height: 150px;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    border: 1px solid var(--eerie-black);
    box-shadow: 3px 10px 25px rgb(180,180,180, 0.4);
}

#project-list .cards:hover {
    box-shadow: 3px 10px 25px rgb(180,180,180, 0.8);
}

#project-list .title {
    font-size: 1.5rem;
    color: black;
}

#project-list .cards:hover .title {
    color: var(--logo-red);
}

#project-list .last-updated {
    display: flex;
    color: var(--logo-red);
    margin-top: 1rem;
}

#project-list i {
    font-size: 2rem;
    justify-content: center;
    text-align: center;
}

#project-list .python {
    color: #5ea9eb;
}

#project-list .javascript {
    color: #f0d44c;
}

#project-list .html { 
    color: #e34c27;
}

#project-list .css {
    color: #4266f5;
}