@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
html,
body {
    font-size: 10px;
}

body {
    font-family: "Open Sans", sans-serif;
}

body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
    font-family: "Open Sans", sans-serif;
}

body main>section {
    padding: 52px 22px;
}

body main .icon-title {
    font-size: 0;
}

body main .icon-title fa,
body main .icon-title h3,
body main .icon-title div {
    display: inline-block;
    vertical-align: middle;
}

body main .icon-title h3 {
    text-transform: uppercase;
    margin-left: 12px;
    font-weight: bold;
}

body main .info-content {
    padding: 0 32px;
    margin-top: 40px;
    margin-bottom: 40px;
}

body main .info-content p {
    font-size: 14px;
    text-align: justify;
    color: inherit;
}

body main .info-content ul.list-icons {
    list-style: none;
    margin: 0;
}

body main .info-content ul.list-icons li {
    margin: 30px 0;
}

body main .info-content ul.list-icons li:first-child {
    padding-top: 10px;
}

body main .info-content ul.list-icons li:last-child {
    padding-bottom: 10px;
}

body main .info-content ul li div,
body main .info-content ul li p {
    display: inline-block;
    vertical-align: middle;
}

body main .info-content ul li p {
    margin: 0;
    margin-left: 12px;
}

body main #left-side {
    background: #3f5771;
}

body main #left-side .name,
body main #left-side .job-titles {
    color: white;
    text-align: center;
}

body main #left-side .name {
    text-transform: uppercase;
}

body main #left-side .job-titles {
    margin-bottom: 60px;
}

body main #left-side .hexagon-container {
    position: relative;
    height: 140px;
    margin-bottom: 24px;
}

body main #left-side .hexagon-container .hexagon {
    position: absolute;
    overflow: hidden;
    width: 140px;
    height: 140px;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    -moz-transform: rotate(-30deg) skewX(30deg) scaleY(0.866);
    -ms-transform: rotate(-30deg) skewX(30deg) scaleY(0.866);
    -webkit-transform: rotate(-30deg) skewX(30deg) scaleY(0.866);
    transform: rotate(-30deg) skewX(30deg) scaleY(0.866);
    backface-visibility: hidden;
}

body main #left-side .hexagon-container .hexagon .inner {
    position: absolute;
    right: 6.7%;
    bottom: 0;
    left: 6.7%;
    top: 0;
    -moz-transform: scaleY(1.155) skewX(-30deg) rotate(30deg);
    -ms-transform: scaleY(1.155) skewX(-30deg) rotate(30deg);
    -webkit-transform: scaleY(1.155) skewX(-30deg) rotate(30deg);
    transform: scaleY(1.155) skewX(-30deg) rotate(30deg);
}

body main #left-side .hexagon-container .hexagon.hexagon-image {
    z-index: 3;
    -moz-transform: rotate(-30deg) skewX(30deg) scaleY(0.866) translate(-4px, 4px);
    -ms-transform: rotate(-30deg) skewX(30deg) scaleY(0.866) translate(-4px, 4px);
    -webkit-transform: rotate(-30deg) skewX(30deg) scaleY(0.866) translate(-4px, 4px);
    transform: rotate(-30deg) skewX(30deg) scaleY(0.866) translate(-4px, 4px);
}

body main #left-side .hexagon-container .hexagon.hexagon-image .inner {
    background: url(https://73d9135319eafc701a71e272ac40cd1505e6bbb9-www.googledrive.com/host/0B3VxOPeHfwbmeUNYaUVocTRvZ3M);
    background-size: 120%;
    background-position: top left;
    background-repeat: no-repeat;
}

body main #left-side .hexagon-container .hexagon.hexagon-background {
    width: 144px;
    height: 144px;
    z-index: 2;
    -moz-transform: rotate(-30deg) skewX(30deg) scaleY(0.866) translate(-2px, 2px);
    -ms-transform: rotate(-30deg) skewX(30deg) scaleY(0.866) translate(-2px, 2px);
    -webkit-transform: rotate(-30deg) skewX(30deg) scaleY(0.866) translate(-2px, 2px);
    transform: rotate(-30deg) skewX(30deg) scaleY(0.866) translate(-2px, 2px);
}

body main #left-side .hexagon-container .hexagon.hexagon-background .inner {
    background-color: #ffffff;
}

body main #left-side .hexagon-container .hexagon.hexagon-background-dark {
    width: 148px;
    height: 148px;
}

body main #left-side .hexagon-container .hexagon.hexagon-background-dark .inner {
    background-color: #2d3e50;
}

body main #left-side .icon-title fa,
body main #left-side .icon-title h3,
body main #left-side .icon-title div {
    color: white;
}

body main #left-side .info-content {
    color: #fff;
}

body main #left-side .info-content ul.list-skills li {
    margin: 16px 0;
    font-size: 14px;
    text-transform: uppercase;
}

body main #left-side .info-content ul li a {
    color: white;
}

body main #left-side .hexagon-icon,
body main #left-side .hexagon-icon:before,
body main #left-side .hexagon-icon:after {
    border-style: solid;
    border-color: #fff;
    border-width: 2px;
    width: 56px;
    height: 32px;
    border-top: none;
    border-bottom: none;
}

body main #left-side .hexagon-icon {
    text-align: center;
    line-height: 32px;
    position: relative;
    z-index: 0;
}

body main #left-side .hexagon-icon:before,
body main #left-side .hexagon-icon:after {
    content: "";
    position: absolute;
    top: 0;
    left: -2px;
    z-index: -1;
}

body main #left-side .hexagon-icon:before {
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
}

body main #left-side .hexagon-icon:after {
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
}

body main #left-side .hexagon-icon .fa {
    color: #fff;
    font-size: 28px;
    line-height: 32px;
}

body main #left-side .hexagon-icon-fill-small,
body main #left-side .hexagon-icon-fill-small:before,
body main #left-side .hexagon-icon-fill-small:after {
    border-style: solid;
    border-color: #fff;
    border-width: 1px;
    width: 38px;
    height: 22px;
    background: #fff;
    border-top: none;
    border-bottom: none;
}

body main #left-side .hexagon-icon-fill-small {
    text-align: center;
    line-height: 22px;
    position: relative;
    z-index: 0;
}

body main #left-side .hexagon-icon-fill-small:before,
body main #left-side .hexagon-icon-fill-small:after {
    content: "";
    position: absolute;
    top: 0;
    left: -1px;
    z-index: -1;
}

body main #left-side .hexagon-icon-fill-small:before {
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
}

body main #left-side .hexagon-icon-fill-small:after {
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
}

body main #left-side .hexagon-icon-fill-small .fa {
    color: #2d3e50;
    font-size: 22px;
    line-height: 22px;
}

body main #right-side {
    padding-top: 70px;
    padding-bottom: 0;
}

body main #right-side .icon-title fa,
body main #right-side .icon-title h3,
body main #right-side .icon-title div {
    color: #2d3e50;
}

body main #right-side .info-content {
    color: #2d3e50;
}

body main #right-side .info-content ul.list-experience {
    list-style: none;
}

body main #right-side .info-content ul.list-experience li {
    margin: 20px 0;
}

body main #right-side .info-content ul.list-experience label {
    font-size: 16px;
    color: #2d3e50;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

body main #right-side .info-content ul.list-experience label:before {
    content: "";
    width: 10px;
    height: 10px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #2d3e50;
    display: block;
    display: inline-block;
    margin-left: -18px;
    margin-right: 8px;
}

body main #right-side .info-content ul.list-experience span {
    font-weight: 300;
    color: #a7a7a7;
    font-size: 12px;
}

body main #right-side .info-content ul.list-experience p {
    display: block;
    margin-left: 0;
    color: black;
    text-transform: none;
}

body main #right-side .info-content ul.list-experience.works label {
    color: black;
    text-transform: none;
    font-weight: normal;
    letter-spacing: 0;
}

body main #right-side .info-content ul.list-experience.works label a {
    font-size: 12px;
    color: #527191;
}

body main #right-side .info-content ul.references {
    list-style: none;
    margin: 0;
}

body main #right-side .info-content ul.references li {
    overflow: hidden;
}

body main #right-side .info-content ul.references li:after {
    content: "\2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  \2022  ";
    font-size: 25px;
    overflow: hidden;
    white-space: nowrap;
    font-family: Arial;
    letter-spacing: -1px;
}

body main #right-side .info-content ul.references li:last-child:after {
    content: "";
}

body main #right-side .info-content ul.references li:last-child .reference-info {
    margin-bottom: 25px;
}

body main #right-side .info-content ul.references li:first-child h3 {
    margin-top: 0;
}

body main #right-side .info-content ul.references h3 {
    margin-top: 35px;
    text-align: center;
}

body main #right-side .info-content ul.references .reference-info {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 45px;
}

body main #right-side .info-content ul.references .reference-info p {
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-left: 0;
}

body main #right-side .info-content ul.references .reference-info p a {
    color: #527191;
}

body main #right-side .hexagon-icon,
body main #right-side .hexagon-icon:before,
body main #right-side .hexagon-icon:after {
    border-style: solid;
    border-color: #2d3e50;
    border-width: 2px;
    width: 56px;
    height: 32px;
    border-top: none;
    border-bottom: none;
}

body main #right-side .hexagon-icon {
    text-align: center;
    line-height: 32px;
    position: relative;
    z-index: 0;
}

body main #right-side .hexagon-icon:before,
body main #right-side .hexagon-icon:after {
    content: "";
    position: absolute;
    top: 0;
    left: -2px;
    z-index: -1;
}

body main #right-side .hexagon-icon:before {
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
}

body main #right-side .hexagon-icon:after {
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
}

body main #right-side .hexagon-icon .fa {
    color: #2d3e50;
    font-size: 28px;
    line-height: 32px;
}

body main #right-side .hexagon-icon-fill-small,
body main #right-side .hexagon-icon-fill-small:before,
body main #right-side .hexagon-icon-fill-small:after {
    border-style: solid;
    border-color: #2d3e50;
    border-width: 1px;
    width: 38px;
    height: 22px;
    background: #2d3e50;
    border-top: none;
    border-bottom: none;
}

body main #right-side .hexagon-icon-fill-small {
    text-align: center;
    line-height: 22px;
    position: relative;
    z-index: 0;
}

body main #right-side .hexagon-icon-fill-small:before,
body main #right-side .hexagon-icon-fill-small:after {
    content: "";
    position: absolute;
    top: 0;
    left: -1px;
    z-index: -1;
}

body main #right-side .hexagon-icon-fill-small:before {
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
}

body main #right-side .hexagon-icon-fill-small:after {
    -moz-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
    transform: rotate(-60deg);
}

body main #right-side .hexagon-icon-fill-small .fa {
    color: #ffffff;
    font-size: 22px;
    line-height: 22px;
}


/*Movil*/

@media only screen and (max-width: 40em) {
    body main .do-toggle {
        right: 0;
        margin-top: -20px;
        font-size: 20px;
        position: absolute;
        top: 50%;
    }
    body main .toggle-title+.info-content {
        display: none;
    }
    body main .toggle-title {
        position: relative;
        margin-bottom: 40px;
    }
    body main .toggle-title h3 {
        max-width: 75%;
    }
    body main #left-side {
        padding-bottom: 0;
    }
    body main #left-side .do-toggle {
        color: white;
    }
    body main #left-side .toggle-title:last-of-type {
        margin-bottom: 0;
    }
    body main #right-side {
        padding-top: 35px;
    }
    body main #right-side .do-toggle {
        color: #2d3e50;
    }
}


/*iPad*/

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    body main .info-content {
        padding: 0 8px;
    }
    body main>section {
        padding: 52px 18px;
    }
}