@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Tahoma", "Trebuchet MS", "Gill Sans", sans-serif;
}

@layer base {
  :root {
    --primary: #00296b;
    --primary-foreground: #ebebeb;
    --secondary: #8b8c89;
    --secondary-foreground: #0a0a0a;
    --tertiary: #64a97a;
    --tertiary-foreground: #0a0a0a;
    --highlight: #525866;
    --highlight-foreground: 0a0a0a;
    --accent: #4e5cdd;
    --accent-foreground: #ebebeb;
    --background: #ebebeb;
    --foreground: #090909;
    --card: #ebebeb;
    --card-foreground: #090909;
    --popover: #3a4660;
    --popover-foreground: #ebebeb;
    --muted: #c9af98;
    --muted-foreground: #0a0a0a;
    --destructive: #b6050b;
    --destructive-foreground: #ebebeb;
    --border: #265dd3;
    --input: #ebebeb;
    --ring: #98b9f2;
    --chart-1: #1f7a8c;
    --chart-2: #bfdbf7;
    --chart-3: #eca400;
    --chart-4: #73bfb8;
    --chart-5: #d8315b;
    --radius: 0.5rem;
    --sidebar-background: #ebebeb;
    --sidebar-foreground: #090909;
    --sidebar-primary: #0a0a0a;
    --sidebar-primary-foreground: #395798;
    --sidebar-accent: #3267d7;
    --sidebar-accent-foreground: #090909;
    --sidebar-highlight: #b3b1b1;
    --sidebar-highlight-foreground: #090909;
    --sidebar-border: #265dd3;
    --sidebar-ring: #8bb0ff;
  }

  .dark {
    --primary: #99582a;
    --primary-foreground: #f4f4f4;
    --secondary: #ddb892;
    --secondary-foreground: #1a1a1a;
    --tertiary: #e1de23;
    --tertiary-foreground: #f4f4f4;
    --highlight: #f4af55;
    --highlight-foreground: #1a1a1a;
    --accent: #6f1d1b;
    --accent-foreground: #f4f4f4;
    --background: #0e0e0e;
    --foreground: #f4f4f4;
    --card: #100f0f;
    --card-foreground: #f4f4f4;
    --popover: #936639;
    --popover-foreground: #f4f4f4;
    --muted: #736b66;
    --muted-foreground: #e6ccb2;
    --destructive: #690500;
    --destructive-foreground: #f4f4f4;
    --border: #7a4419;
    --ring: #ffe6a7;
    --chart-1: #ede0d4;
    --chart-2: #ab967d;
    --chart-3: #adc178;
    --chart-4: #fedf8a;
    --chart-5: #d88e45;
    --sidebar-background: #0c0c0c;
    --sidebar-foreground: #f4f4f4;
    --sidebar-primary: #2b2b2b;
    --sidebar-primary-foreground: #f4f4f4;
    --sidebar-accent: #e87c2e;
    --sidebar-accent-foreground: #1a1a1a;
    --sidebar-highlight: #e0e0e0;
    --sidebar-highlight-foreground: #1a1a1a;
    --sidebar-border: #7a4419;
    --sidebar-ring: #c3a995;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  strong {
    @apply text-tertiary;
  }
}
