@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Tahoma", "Trebuchet MS", "Gill Sans", sans-serif;
}

@layer base {
  :root {
    --primary: #3a4660;
    --secondary: #c9af98;
    --tertiary: #e7e6e4;
    --highlight: #ed8a63;
    --accent: #c9af98;
    --background: #e7e6e4;
    --foreground: #090909;
    --card: #3a4660;
    --card-foreground: #0a0a0a;
    --popover: #3a4660;
    --popover-foreground: #e7e6e4;
    --primary-foreground: #0a0a0a;
    --secondary-foreground: #0a0a0a;
    --muted: #b3aaa2;
    --muted-foreground: #1c1c1c;
    --accent-foreground: #0a0a0a;
    --destructive: #850101;
    --destructive-foreground: #e7e6e4;
    --border: #3a5387;
    --input: #e7e6e4;
    --ring: #3357a4;
    --chart-1: #7aa5b9;
    --chart-2: #efa283;
    --chart-3: #ab8563;
    --chart-4: #3a4660;
    --chart-5: #843f07;
    --radius: 0.5rem;
    --sidebar-background: #e7e6e4;
    --sidebar-foreground: #090909;
    --sidebar-primary: #0a0a0a;
    --sidebar-primary-foreground: #3a5387;
    --sidebar-accent: #ed8a63;
    --sidebar-accent-foreground: #c9af98;
    --sidebar-border: #843f07;
    --sidebar-ring: #845007;
  }

  .dark {
    --primary: #7aa5b9;
    --secondary: #ab8563;
    --tertiary: #3a4660;
    --highlight: #efa283;
    --accent: #e7e6e4;
    --background: #090909;
    --foreground: #e7e6e4;
    --card: #11151c;
    --card-foreground: #e7e6e4;
    --popover: #11151c;
    --popover-foreground: #e7e6e4;
    --primary-foreground: #e7e6e4;
    --secondary-foreground: #e7e6e4;
    --muted: #464340;
    --muted-foreground: #e7e6e4;
    --accent-foreground: #7aa5b9;
    --destructive: #a70101;
    --destructive-foreground: #e7e6e4;
    --border: #486fc4;
    --input: #090909;
    --ring: #4f71bb;
    --chart-3: #94511b;
    --chart-2: #c83f09;
    --chart-4: #154cc2;
    --chart-1: #dfaa2f;
    --chart-5: #694b31;
    --sidebar-background: #090909;
    --sidebar-foreground: #e7e6e4;
    --sidebar-primary: #11151c;
    --sidebar-primary-foreground: #e7e6e4;
    --sidebar-accent: #4f71bb;
    --sidebar-accent-foreground: #11151c;
    --sidebar-border: #464340;
    --sidebar-ring: #694b31;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
