<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">
			<img src="static\images\Logo.png" alt="TH logo" class="db w4 center mb4 br0">
		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Navigation</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/about" class="link">About</a></li>
					<li><a href="/portfolio" class="link">Portfolio</a></li>
					<li><a href="/resume" class="link">Resume</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "#" "class" "bi-facebook") }}
					{{ partial "social-icon" (dict "link" "#" "class" "bi-twitter") }}
					{{ partial "social-icon" (dict "link" "#" "class" "bi-instagram") }}
					{{ partial "social-icon" (dict "link" "#" "class" "bi-linkedin") }}
				</ul>
			</div>

		</div>
	</div>

</footer>